*.lo
*.la
Makefile
.deps/
.libs/
*.o
/sheets/*.sheet
/po/*.gmo

/autom4te.cache/
/config.h
/config.h.in~
/config.log
/config.status
/configure~
/dia.keys
/libtool
/po/Makefile.in
/po/POTFILES
/po/stamp-it
/stamp-h1
/app/dia
/app/run_dia.sh
/core-translation-report
/dia.desktop
/dia.desktop.in
/doc/en/dia.1
/doc/en/dia_html/
/doc/eu/dia.1
/doc/eu/dia_html/
/doc/fr/dia.1
/doc/fr/dia_html/
/doc/pl/dia_html/
/po/.intltool-merge-cache
/po/.intltool-merge-cache.lock
/po/.intltool-merge-cachemake
/po/.intltool-merge-cachemake.lock
/po/dia.pot
/sheets/sheet-translation-report
/tests/boundingbox
/tests/objects

